@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 "Noto Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

.section-letter {
  float: left;
  width: 50%;
}

.section-icon {
  float: right;
  width: 50%;
}

section h2 {
  margin: 0;
}

section p {
  margin: 0;
}

section {
  background-color: #e5c30a;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 45em;
  padding: 1.3rem;
}

@media only screen and (min-width: 25em) {

  .section-letter,
  .section-icon {
    padding: .3rem 1.3rem;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .section-letter,
  .section-icon {
    width: 7em;
  }

  .section-body {
    width: 25em;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .section-letter,
  .section-icon {
    width: 10em;
  }

  .section-body {
    width: 30em;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }
}
